@import "../styles/variables";

.container {
  display: flex;
  padding: dp(8);
  gap: dp(16);
  height: calc(100vh - dp(16));
  overflow: hidden;
  background: var(--md-sys-color-background);
}

.page {
  flex: 1 1 0%;
  overflow: scroll;
  // padding: dp(8) 0;
}