@import "../../styles/variables";

.root {
  display: flex;
  flex-direction: column;
  gap: $p-8;
  width: 100%;

  section {
    display: flex;
    gap: $p-5;
    width: 100%;

    .card {
      width: 50px;
      flex-grow: 1;
      height: 30px;
    }
  }
}

.header {
  position: relative;

  .close {
    position: absolute;
    top: $p-2;
    right: $p-2;
    cursor: pointer;
  }
}