@import "../../styles/variables";

.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: $radius-regular;
  color: var(--md-sys-color-tertiary);

  svg {
    transform: rotate(270deg);
  }

  h1 {
    font-family: "Ubuntu Mono", "Major Mono Display", monospace;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0;
  }
}